# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDE specific (adjust as needed)
.vscode/
.idea/
.vs/

# Build directories
build/
out/
/cmake-build-debug/
/cmake-build-release/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Additional

/example_audio_streaming/src/text_test/cmake-build-debug
/example_audio_streaming/src/text_test/cmake-build-release
/example_audio_streaming/src/voice/cmake-build-debug
/example_audio_streaming/src/voice/cmake-build-release
